@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$w-color: #ffffff;
$w-colorbg: #f5f5f5;
$hap: #333;
$color: #FAB702;
$card: #606060;
$pad: 30px 0 30px 0;
$wcolor: #dddddd;
$menup-l:20px;

$pad-lr: 90px 0px 90px 0;
$pad-b:90px;

$at: center;

$jc: end;

$what: #222222;


$fontdosis: "Dosis", sans-serif;
$fontroboto : "Roboto", sans-serif;

$border-color: #3F3E3E;