@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.flex, .begin1 .begin1f, .footer .footerf, .Contact .contactf .w-66f, .Contact .contactf, .Latest .Latest2, .Fun .i25img4, .customer .Say, .img8, .tab_steps, .main-menu ul {
  display: flex;
  flex-wrap: wrap;
}

.jc, .main-menu ul {
  justify-content: end;
}

.pdtb1 {
  padding: 90px 0px 90px 0;
}

.header {
  background-color: #ffffff;
  padding: 30px 0 30px 0;
}

.w-100 {
  width: 100%;
}

.w-1320 {
  width: 1320px;
  margin: auto;
}

.w-20 {
  width: 20%;
  background-color: #ffffff;
}

.w-80 {
  width: 80%;
}

.main-menu ul {
  align-items: center;
}
.main-menu li a {
  color: #333;
  padding: 30px 0 30px 0;
  font-size: 11px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-left: 20px;
  position: relative;
}
.main-menu li a::after {
  content: "";
  float: right;
  margin-top: 7px;
  margin-left: 20px;
  font-size: 6px;
  background-color: #FAB702;
  width: 6px;
  height: 6px;
  line-height: 2px;
  border-radius: 10px;
}

.bg {
  width: 100%;
  height: 480px;
  background-image: url("../img/bg-4.jpg");
  background-size: cover;
  background-attachment: fixed;
  max-height: 100%;
  padding: 90px 0px 90px 0;
  position: relative;
}

.jcc {
  justify-content: center;
  text-align: center;
}

.content {
  display: flex;
  align-items: center;
}

.bg1 {
  line-height: 60px;
  color: #ffffff;
  font-family: "Dosis", sans-serif;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 25px;
  text-align: center;
}
.bg1 .vi {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  display: inline-flex;
}
.bg1 .vi button {
  padding: 10px 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  border: 1px solid #848484;
  background: transparent;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.bg1 .vi button i {
  margin-left: 15px;
  color: #FAB702;
}
.bg1 .vi button:hover {
  background: #FAB702 !important;
  transition: 0.4s;
  color: #606060;
}
.bg1 .vi button:hover i {
  color: #606060;
}

.box {
  display: flex;
  align-items: start;
  text-align: left;
  margin-top: 60px;
}

.de_light .separator span:before, .de_light .separator span:after {
  border-bottom: 2px solid #F2F2F2;
  display: flex;
}
.de_light .separator span:before span, .de_light .separator span:after span {
  margin: 30px 0 30px 0;
}

.separator {
  text-align: center;
  margin: 30px 0 30px 0 !important;
}

.separator span:before {
  right: 50%;
  margin-right: 15px;
  position: relative;
}

.separator span:before, .separator span:after {
  content: "";
  position: absolute;
  border-bottom: 2px solid #F2F2F2;
  width: 300px;
  margin-left: 20px;
}

.circle {
  font-size: 5px;
  position: absolute;
  color: #FAB702;
}

.color {
  color: #FAB702;
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: "Dosis", sans-serif;
}

.samp {
  color: #222222;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: 400;
}
.samp .img1 {
  width: 100%;
  margin-top: 20px !important;
}

.What {
  font-size: 28px !important;
  margin: 0;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 300px !important;
  font-family: "Dosis", sans-serif;
}
.What .w-33 {
  width: 33.33%;
}
.What .w-33 .card {
  padding: 0 12px 0 12px;
}
.What .w-33 .card p {
  font-family: "Roboto", sans-serif !important;
  font-size: 15px !important;
  margin-bottom: 20px !important;
  letter-spacing: 1px;
  color: #606060;
  text-transform: initial;
}
.What .w-33 .card .img1 {
  width: 100%;
}

.bg2 {
  width: 100%;
  background-attachment: fixed;
  background-image: url("../img/bg-2.jpg");
  background-size: cover;
  padding: 90px 0px 90px 0;
}
.bg2 .pdtb {
  justify-content: center;
  display: flex;
  width: 100%;
}
.bg2 .what-t {
  text-align: center;
}
.bg2 h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 28px;
  font-family: "Dosis", sans-serif;
  font-weight: 300;
  letter-spacing: 5px;
}

.tab_steps {
  justify-content: center;
  text-align: center;
  padding-top: 30px;
}
.tab_steps .w-25 {
  width: 25%;
}
.tab_steps .w-25 samp a {
  width: 180px !important;
  height: 180px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  text-align: center;
  color: #ffffff !important;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  display: inline-block;
  line-height: 11;
  position: relative;
}
.tab_steps .w-25 a:hover {
  color: #FAB702 !important;
}

.v-border {
  left: 160px !important;
  height: 60px;
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  display: inline-block;
  margin-bottom: -5px;
  text-align: center;
  position: relative;
}

.de-tab-content {
  width: 1320px;
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
}
.de-tab-content p {
  color: #F2F2F2 !important;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
}

.bgcolor {
  background: #f5f5f5;
}

.Our {
  font-size: 28px !important;
  margin: 0;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 600px !important;
  font-family: "Dosis", sans-serif;
}

.w-254 {
  display: flex;
}

.container {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.container:hover .overlay {
  height: 100%;
}

.text {
  position: absolute;
  padding: 20px;
  text-align: start;
}
.text h3 {
  color: #F2F2F2;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  margin-bottom: 5px;
  text-align: start;
}
.text .lead {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7em;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  color: #f2f2f2;
  text-transform: capitalize;
  letter-spacing: 0px;
}
.text .small-border {
  border: 2px solid #FAB702;
  width: 50px;
  margin: 15px 0 15px 0;
}
.text p {
  color: #ccc;
  text-transform: none;
  letter-spacing: 0px;
  font-size: 15px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 1.7em;
  margin-bottom: 20px;
}
.text .icon254 a {
  padding: 0 5px 0 5px;
  color: #606060;
  font-size: 24px;
}
.text .icon254 a:hover {
  color: #dddddd;
  transition: 0.3s;
}

.bu5 {
  text-align: center;
  margin-bottom: 25px;
}
.bu5 .buttona {
  border: 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  padding: 10px 20px;
  background: #FAB702;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 10px 0 10px;
  color: #111111;
}
.bu5 .buttonh {
  border: 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  padding: 10px 20px;
  background: #FFFFFF;
  color: #888888;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 10px 0 10px;
}
.bu5 .buttonh:hover {
  border: 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  padding: 10px 20px;
  background: #000000;
  color: #F2F2F2;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 10px 0 10px;
  transition: 0.3s !important;
}

.img8 .w-25img {
  width: 25%;
}
.img8 .w-25img .container1 {
  position: relative;
}
.img8 .w-25img .container1 .image {
  display: block;
  width: 100%;
  height: auto;
}
.img8 .w-25img .container1 .overlay1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* White background with opacity */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.img8 .w-25img .container1 .Hover {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #FAB702;
}
.img8 .w-25img:hover .overlay1 {
  opacity: 1; /* Show overlay on hover */
  transition: opacity 0.3s ease;
}

.view {
  padding: 60px 0 60px 0;
  text-align: center;
  background: #FAB702;
}
.view button {
  border: 1px solid #000000;
  font-size: 14px;
  background: transparent;
  letter-spacing: 1px;
  line-height: normal;
  text-transform: uppercase;
  padding: 10px 30px 10px 30px;
}
.view button i {
  margin-left: 15px;
}
.view button:hover {
  color: #FFFFFF;
  background: #000000;
  transition: all 0.5s;
}

.customer {
  width: 100%;
  background-image: url("../img/bg-3.jpg");
  background-size: cover;
  padding: 90px 0px 90px 0;
  background-attachment: fixed;
}
.customer h1 {
  text-align: center;
  font-size: 28px;
  color: #ffffff;
  font-family: "Dosis", sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 600;
}
.customer p {
  color: #dddddd;
  font-size: 16px;
  line-height: 1.8em;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin: 10px 0 20px 0;
}
.customer .John {
  margin-top: -10px;
  font-style: normal;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  line-height: 1.8em;
  font-weight: 500;
  color: #FAB702;
}
.customer .Say {
  justify-content: space-between;
  margin-top: 60px;
}
.customer .Say .w-50 {
  width: 40%;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px 30px 30px 80px;
  position: relative;
}
.customer .Say i {
  top: 0;
  font-size: 25px;
  background: #FAB702;
  position: absolute;
  left: 0;
  text-align: center;
  padding: 15px 20px;
}

.Fun .what-t h1 {
  font-family: "Dosis", sans-serif;
  text-align: center;
  color: #222222;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 5px;
}
.Fun .i25img4 {
  margin-top: 60px;
}
.Fun .w-25img4 {
  width: 25%;
  text-align: center;
  font-size: 60px;
  padding: 30px 0 30px 0;
}
.Fun .w-25img4 i {
  margin-bottom: 20px;
  color: #FAB702;
}
.Fun .w-25img4 h3 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 3px;
  margin-bottom: 15px;
}
.Fun .w-25img4 .Hours {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #FAB702;
}

.Latest {
  width: 100%;
  background-image: url("../img/bg-5.jpg");
  background-size: cover;
  padding: 90px 0px 90px 0;
  background-attachment: fixed;
}
.Latest h1 {
  text-align: center;
  font-size: 28px;
  color: #ffffff;
  font-family: "Dosis", sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 600;
}
.Latest .w-50 {
  width: 48%;
}
.Latest .Latest2 {
  justify-content: space-between;
  margin-top: 60px;
}
.Latest .Latest2 img {
  width: 100%;
}
.Latest .Latest2 .Latestbox {
  padding: 20px 30px 30px 80px;
  position: relative;
}
.Latest .Latest2 .Latestbox .boxdata {
  top: 0;
  left: 0;
  position: absolute;
  width: 60px;
}
.Latest .Latest2 .Latestbox .boxdata .b26 {
  background: #FAB702;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 32px;
  color: #111111;
  padding-top: 45px;
  padding-bottom: 10px;
  font-weight: 600;
}
.Latest .Latest2 .Latestbox .boxdata .feb {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  letter-spacing: 16px;
  padding: 7px 0 7px 0;
  border-bottom: 4px solid #ffffff;
  color: #ffffff;
}
.Latest .Latest2 .Latestbox h3 {
  color: #ffffff;
  font-family: "Dosis", Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 20px;
  letter-spacing: normal;
  font-size: 24px;
  text-transform: none;
}
.Latest .Latest2 .Latestbox p {
  color: #ffffff;
  margin-bottom: 15px;
  line-height: 1.7em;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

.Contact {
  padding: 90px 0px 90px 0;
}
.Contact h1 {
  font-family: "Dosis", sans-serif;
  text-align: center;
  font-size: 28px;
  color: #222222;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 600;
}
.Contact .contactf {
  justify-content: center;
  margin-top: 60px;
}
.Contact .contactf .w-66f {
  width: 60%;
  margin: 0 15px 15px;
  -moz-column-gap: 15PX;
       column-gap: 15PX;
}
.Contact .contactf .w-66f .w-33d {
  width: 30%;
}
.Contact .contactf .w-66f .w-33d input {
  padding: 10px;
  margin-bottom: 20px;
  border: solid 1px #dddddd;
  background: #ffffff;
  color: #333 !important;
  font-size: 17px;
  border-radius: 5px;
}
.Contact .contactf .w-66f .w-66d {
  width: 68%;
}
.Contact .contactf .w-66f .w-66d textarea {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 17px;
  border: solid 1px #dddddd;
  background: #ffffff;
  color: #333 !important;
  font-family: "Dosis", sans-serif;
}
.Contact .contactf .w-66f .w-99d {
  width: 100%;
}
.Contact .contactf .w-66f .w-99d button {
  padding: 8px 20px;
  transition: 0.5s;
  outline: none;
  color: #111;
  border: 1px solid #dddddd;
  font-size: 12px;
  text-transform: uppercase;
  background: transparent;
  text-align: center;
  letter-spacing: 2px;
}
.Contact .contactf .w-33f {
  width: 37%;
}
.Contact .contactf .w-33f h3 {
  color: #606060;
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
}
.Contact .contactf .w-33f address {
  font-style: normal;
}
.Contact .contactf .w-33f address h3 {
  border-bottom: solid 1px #dddddd;
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #606060;
  text-transform: capitalize;
  letter-spacing: 1.5px;
}

.footer {
  padding: 90px 0px 90px 0;
}
.footer .footerf {
  -moz-column-gap: 15px;
       column-gap: 15px;
  justify-content: center;
}
.footer .footerf .w-33 {
  width: 32.33%;
}
.footer .footerf .w-33 .logo-small {
  margin-bottom: 20px;
}
.footer .footerf .w-33 p {
  color: #606060;
  line-height: 1.7em;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
.footer .footerf .w-33 h3 {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 20px;
}
.footer .footerf .w-33 ul li {
  padding: 2px 0 4px 0;
  border-bottom: 1px solid #dddddd;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.8em;
  font-weight: 400;
}
.footer .footerf .w-33 ul li a {
  color: #606060 !important;
}
.footer .footerf .w-33 address {
  font-style: normal;
}
.footer .footerf .w-33 address h3 {
  border-bottom: solid 1px #dddddd;
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #606060;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.begin1 {
  padding: 30px 0 20px 0;
  background: #f8f8f8;
}
.begin1 .begin1f .w-80 {
  width: 79%;
  color: #606060;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
}
.begin1 .begin1f .w-80 span {
  color: #FAB702;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8em;
  font-family: "Roboto", sans-serif;
}
.begin1 .begin1f .w-20f {
  width: 21%;
  justify-content: center;
}
.begin1 .begin1f .w-20f .i6 {
  justify-content: end;
}
.begin1 .begin1f .w-20f .i6 i {
  padding: 13px;
  text-align: center;
  color: #606060;
  font-size: 16px;
  line-height: 1px;
  background: transparent;
}/*# sourceMappingURL=style.css.map */